@media only screen and (min-width: 64.063em) {
    html {
        font-size: 130%;
    }

    header {
        padding-left: calc( ( 100% - 1000px ) / 2 );
        padding-right: calc( ( 100% - 1000px ) / 2 );
    }

    header.home img.profile {
        width: 250px;
        height: 250px;
    }

    header.home h1 {
        margin: 0 0 70px 0;
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
    }
}