@media only screen and (min-width: 64.063em) {
    html {
        font-size: 130%;
    }

    header.home {
        padding-left: calc( ( 100% - 1000px ) / 2 );
        padding-right: calc( ( 100% - 1000px ) / 2 );
        padding-bottom: 0;
    }

    header.home img.profile {
        width: 250px;
        height: 250px;
    }

    header.home h1 {
        margin: 0 0 70px 0;
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
    }

    header.header-nav div.anim {
        transform: translateY(-35%);
    }

    header.header-nav h1 {
        font-size: 1rem;
        float: left;
        padding: 15px;
        margin: 0;
        display: inherit;
    }

    a.symbol:before {
        font-size: 3rem;
    }

    section.slide img.logo_experience {
        margin: 5px 15px 0 0;
        width: 75px;
    }
}