@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    html {
        font-size: 120%;
    }

    header.home {
        padding-left: calc( ( 100% - 620px ) / 2 );
        padding-right: calc( ( 100% - 620px ) / 2 );
        background-size: cover;
        background-position: inherit;
    }

    header.home h1 {
        margin: 0 0 55px 0;
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
    }

    header.header-nav div.anim {
        transform: translateY(-35%);
    }

    header.header-nav h1 {
        font-size: 1rem;
        float: left;
        padding: 15px;
        margin: 0;
        display: inherit;
    }

    div#about-me {
        padding: 70px 15%;
    }

    div#about-me section.social div {
        padding: 0 20px;
    }

    .symbol:before {
        font-size: 2rem;
    }

    .symbol-download:before {
        font-size: 1rem;
    }

    .symbol-download {
        margin-right: 0.5em;
    }

    section.slide {
        width: 85%;
    }

    section.slide_a {
        transform: translateX(10%);
    }

    section.slide_b {
        transform: translateX(-10%);
    }

    section.slide-anim {
        transform: translateX(0%);
        transition: transform 1s;
    }

    section.slide p, section.slide h2, section.slide h4 {
        opacity: 0;
    }

    section.slide-anim p, section.slide-anim h2, section.slide-anim h4 {
        opacity: 1;
        transition: opacity 2s;
    }

    section.slide img.logo_experience {
        margin: 5px 15px 0 0;
        width: 60px;
    }
}