@media all and (orientation: landscape) {
    header#home {
        display: none;
    }

    header#home-landscape {
        display: inherit !important;
    }

    header#home-landscape table {
        margin: auto;
        width: 100%;
    }

    header#home-landscape table tr td {
        padding: 0 9%;
    }

    header#home-landscape menu {
        margin-top: 7%;
    }

    header#home-landscape menu a {
        display: inline;
        padding: 1% 5%;
    }

    nav.slide-menu ul {
        margin-top: 60px;
    }

    nav.slide-menu ul li {
        margin-top: 15px;
    }

    nav.slide-menu .img-slide-menu {
        margin-top: 15px;
    }

    div#about-me section.social div {
        display: inline-table;
        padding: 0 10px;
    }

    .link-landscape {
        display: inherit !important;
    }

    .link-portrait {
        display: none !important;
    }

    .symbol:before {
        content: attr(title);
        margin-right: 0.3em;
        font-size: 1.7rem;
    }

    .symbol-download:before {
        font-size: 1rem;
    }
}